<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <section class="vh-100 bg-image">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
          <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <h1 class="text-center fw-bold" style="padding-bottom: 100px;">Sistem Pembayaran UKT</h1>
                <div class="card" style="border-radius: 15px;">
                  <div class="card-body p-5">
                      <h1 class="text-center fw-bold" style="padding-bottom: 20px;">LOGIN</h1>
                      <div>
                        <% if(errors != "") { %>
                            <% errors.forEach((item) => { %>
                                <div class="alert alert-danger">
                                    <%- item %>
                                </div>
                            <% }); %>
                        <% } %>
                    </div>
                      <form action="/login" method="POST">
                          <!-- Email input -->
                          <div class="form-outline mb-4">
                            <label class="form-label fw-bold" for="user">Email</label>
                            <input type="email" class="form-control" id="email" name="email"  placeholder="Enter email" required>
                          </div>
                        
                          <!-- Password input -->
                          <div class="form-outline mb-4">
                            <label class="form-label fw-bold" for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                          </div>
                        
                          <!-- Submit button -->
                          <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                        
                          <!-- Register buttons -->
                          <div>
                            <p>Not a member? <a href="/register">Register</a></p>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </section>
</body>
</html>
